/*Mobile First*/
/* TODO LO QUE ESTA DECLARADO EN MOBILE FIRST SE VA A APLICAR SIEMPRE, POR ENDE NO ES NECESARIO 
DECLARARLO EN TODAS LAS MEDIA QUERIES*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    max-width: 890px;
    background: #EFAA0A;
    font-family: 'oswald', sans-serif;
    margin: auto;
    font-size: 0;
    background-attachment: fixed;
    background: #EFAA0A;

}

.contenedor_h1>header>h1,
.introduccion_1>div>div>h2 {
    display: none;
}

.contenedor_h1>header>img {
    border: none;
}

img {
    width: 100%;

}

.contenedor_nav>nav>div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    box-shadow: 2px 2px 4px 4px #edda9b;
}

.contenedor_nav>nav>div>a {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    text-shadow: 0.5px 0.5px 1px #e1eff7;
    background: #222E58;
    border: 1px solid #5E90CB;
    padding: 0.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: 100%;

}


main {

    background: linear-gradient(180deg, rgb(236, 236, 236) 0%, rgb(186, 224, 242) 100%) fixed;
    /* box-shadow: 2px 2px 2px 2px #edda9b; */


}

.imagen_movil_1>img {

    border: none;
    border-bottom: 20px solid #222E58;
    box-shadow: 0 0 4px #5E90CB;

}

h2 {

    display: block;
    text-align: center;
    color: #222E58;
    border-bottom: 2px ridge #222E58;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px white;
    padding: 0.5rem;
    margin-top: 20px;

}


.contacto_6>.contenedor_h2_izquierda>h2 {
    margin-bottom: 0;

}


.parrafo_1>p,
.parrafo_4>p,
.videos_5>.parrafo_1>p,
.contenedor_parrafos>.parrafo_1>p,
.contenedor_parrafos_2>.parrafo_1>p,
.contenedor_parrafos_3>.parrafo_1>p,
.contenedor_parrafos_4>.parrafo_1>p,
.contenedor_parrafos_5>.parrafo_1>p {

    font-size: 1rem;
    font-weight: 300;
    word-spacing: 3px;
    line-height: 1.6rem;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.contenedor_parrafos>.imagen_movil_2>img,
.videos_5>.parrafo_4>p {
    display: none;
}

.contenedor_parrafos_2>.parrafo_1 {

    margin-left: 1rem;
    margin-right: 1rem;
}


strong {
    color: #222E58;
    font-weight: 500;
}

em {
    color: #EC692E;
}

.contenedor_personajes>div>.parrafo_1>p {
    background-color: #5E90CB;
}

.personajes_3>.contenedor_personajes>div>img {
    box-shadow: none;
    border: 2px solid #E6351F;
}

.personajes_3>.contenedor_personajes>div>h3,
.episodios_4>div>h3 {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    background: #E6351F;
    color: white;
    text-align: center;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem;
}

.contenedor_personajes>div>span,
.episodios_4>div>span {
    display: block;
    font-weight: 300;
    font-size: 1rem;
    color: whitesmoke;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-align: center;
    background: #222E58;
    padding: 0.5rem;

}

.contenedor_episodios {
    max-width: 890px;
    margin: auto;
}


.contenedor_episodios>div>div>h3 {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    background: #33A936;
    color: white;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}



.contenedor_episodios>div>.parrafo_1>p {

    padding: 1rem;
    padding-bottom: 2rem;
    width: 100%;

}

.episodio_1>div>img,
.episodio_2>div>img,
.episodio_3>div>img,
.episodio_4>div>img {
    border: 2px solid #33A936;

}

.contenedor_episodios>div>div>span {
    display: block;
    font-size: 1rem;
    font-weight: 100;
    background: #68B65B;
    color: white;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}


.contenedor_videos>iframe {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contenedor_imagen>img,
.contenedor_h2_izquierda>span,
.imagen_contacto_2 {
    display: none;
}

.contenedor_contacto>div>span {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    padding: 1rem;
    text-shadow: 1px 1px 1px #d4eaf78b;
    color: #222E58;
}

.contenedor_contacto {
    font-size: 1rem;
    font-weight: 200;
    text-shadow: 1px 1px 2px #F7CB3A;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
    
}


.contenedor_contacto>div>img {
    border: none;
    box-shadow: none;
    width: 100%;

}


.contenedor_contacto>.datos {
    display: flex;
    flex-direction: column;
    width: 100%;
}




.contenedor_contacto>.datos>div>label,
.mensaje>label {
    display: flex;
    color: #222E58;
    letter-spacing: 2px;
    padding: 1rem;
    padding-left: 0;
    width: 100%;
}

.contenedor_contacto>.datos>div>input,
.mensaje>textarea {
    display: flex;
    padding: 0.5rem;
    font-family: 'oswald', sans-serif;
    color: darkgray;
    letter-spacing: 2px;
    font-weight: 200;
    border: 1px solid #5E90CB;
    width: 100%;
    box-shadow: 2px 2px 2px #aca8a8;
    border-radius: 10px;

}

.mensaje>textarea {

    width: 100%;
    height: 224px;


}

.mensaje>div>input {

    padding: 0.5rem;
    width: 50%;
    border: 1px solid #5E90CB;
    background: #5E90CB;
    color: white;
    text-transform: uppercase;
    margin-top: 1rem;
    box-shadow: 2px 2px 2px #aca8a8;
    border-radius: 10px;
    letter-spacing: 3px;
}

.mensaje>.enviar {

    display: flex;
    justify-content: center;
}




.contenedor_footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.5rem;
    justify-content: center;
    gap: 1rem;
    border-top: 6rem solid #222E58;
    background: #431859;
    width: 100%;
    align-content: center;


}

.contenedor_footer>img {
    width: 150px;
    border-radius: 40px 40px;
    box-shadow: 2px 2px 2px #aca8a8;
}

.contenedor_footer>p {
    font-size: 0.8rem;
    font-weight: 100;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 1px #5E90CB;

}

/* SIEMPRE QUE LA PANTALLA TENGA UN MÃXIMO DE 576px  (0px a 576px)*/
/* MEDIDAS PARA CELULAR*/
/* @media screen and (max-width: 576px) {}*/

/************************************************************************************************************************************************/

/* SIEMPRE QUE LA PANTALLA TENGA MAS DE 577px DISPONIBLES*/
/* MEDIDAS PARA TABLET*/

@media screen and (min-width: 577px) and (max-width: 992px) {

    .contenedor_h1>header>h1 {
        background-image: url(../img/banner/banner_tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        display: block;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        margin: auto;
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-size: 4rem;
        line-height: 55px;
        color: #222E58;
        text-shadow: 2px 2px 4px white;

    }

    .contenedor_h1>header>img {
        display: none;
    }

    .contenedor_nav>nav {
        display: flex;

    }

    .introduccion_1 {
        display: flex;
        gap: 2rem;
        align-items: flex-start;
        text-align: center;
        flex-wrap: wrap;
    }

    .contenedor_h2_imagen {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .imagen_movil_2>img,
    .imagen_movil_3>img,
    .imagen_movil_4>img,
    .imagen_movil_5>img,
    .imagen_movil_6>img {

        display: flex;
        box-shadow: 2px 2px 4px #aca8a8;
        justify-content: space-between;
        width: 250px;
        padding: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;

    }

    .contenedor_parrafos,
    .contenedor_parrafos_2,
    .contenedor_parrafos_3,
    .contenedor_parrafos_4,
    .contenedor_parrafos_5 {

        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 2rem;
    }

    .contenedor_parrafos_2,
    .contenedor_parrafos_4 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        margin: 15px auto;

    }

    .parrafo_1 {

        display: flex;
        text-align: left;
        gap: 1rem;
    }

    h2 {
        text-align: start;
        padding-left: 2rem;
    }

    .contenedor_h2_izquierda>h2 {
        display: block;
        text-align: right;
        padding-right: 2rem;

    }

    .contenedor_personajes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: baseline;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;

    }

    .jeff_winger,
    .britta_perry,
    .annie_edison,
    .abed_nadir,
    .troy_barnes,
    .shirley_bennett,
    .pierce_hawthorne,
    .pierce_hawthorne_2 {
        box-shadow: 2px 2px 4px #aca8a8;
        margin-bottom: 2rem;

    }



    .contenedor_personajes>div>img {
        display: flex;

    }

    .contenedor_personajes>div>span,
    .contenedor_personajes>div>h3 {

        align-items: center;
        margin: auto;

    }

    .contenedor_personajes>div>.parrafo_1>p,
    .contenedor_personajes>div>img,
    .contenedor_personajes>div>span,
    .contenedor_personajes>div>h3 {

        width: 300px;
    }

    .contenedor_personajes>.jeff_winger>.parrafo_1>p,
    .contenedor_personajes>.britta_perry>.parrafo_1>p,
    .contenedor_personajes>.annie_edison>.parrafo_1>p,
    .contenedor_personajes>.pierce_hawthorne>.parrafo_1>p,
    .contenedor_personajes>.abed_nadir>.parrafo_1>p,
    .contenedor_personajes>.troy_barnes>.parrafo_1>p,
    .contenedor_personajes>.shirley_bennett>.parrafo_1>p,
    .contenedor_personajes>.pierce_hawthorne_2>.parrafo_1>p {

        min-height: 448px;
    }



    .contenedor_episodios>div>div>h3,
    .contenedor_episodios>div>div>span {

        width: 400px;
    }

    .contenedor_episodios {
        display: flex;
        flex-direction: column;
    }



    .episodio_1,
    .episodio_2,
    .episodio_3,
    .episodio_4 {

        display: flex;
        width: 100%;
        border: 1px solid transparent;
        gap: 1rem;
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 4px #aca8a8;



    }

    .episodio_2,
    .episodio_4 {
        flex-direction: row-reverse;
    }


    .imagen_titulo>img {
        width: 400px;
    }

    .contenedor_videos>iframe {
        display: block;
        width: 400px;
        box-shadow: 2px 2px 4px #aca8a8;
        background: #000000;
        margin: 2rem auto;


    }

    .contenedor_contacto {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        background-color: #edda9b;

    }

    .contenedor_contacto>.datos {
        display: flex;
        flex-direction: column;
        width: 300.67px;
    }

    .mensaje>.enviar {


        justify-content: flex-end;
    }


    .mensaje>div>input {

        width: 40%;


    }

    .contenedor_contacto>div>span {
        display: none;

    }

    .mensaje>textarea {

        width: 100%;

    }

    .contenedor_h2_izquierda>span {
        display: block;
        font-size: 1.5rem;
        font-weight: 200;
        text-shadow: 1px 1px 2px white;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
        color: #222E58;
        background-color: #edda9b;

    }

    .contenedor_footer {
        flex-direction: row;
    }

}

/*************************************************************************************************************************/

/* SIEMPRE QUE LA PANTALLA TENGA AL MENOS 993px DISPONIBLES*/
/* MEDIDAS PARA PC*/

@media screen and (min-width: 993px) {

    body {
        max-width: 1200px;
    }

    .contenedor_h1>header>h1 {
        background-image: url(../img/banner/banner_tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        text-transform: capitalize;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1rem;
        width: 100%;
        margin: auto;
        padding: 1rem;
        padding-bottom: 2rem;
        font-size: 5rem;
        line-height: 55px;
        color: #1f2c5d;
        background-color: #68B65B;
        text-shadow: 2px 2px 4px white;

    }

    .contenedor_h1>header>h1:hover {

        
        color: #431859;
        cursor: pointer;


    }

    .contenedor_h1>header>img {
        display: none;
    }

    .contenedor_nav>nav>div {
        box-shadow: none;
        
    }



    .contenedor_nav>nav {
        display: flex;
        justify-content: space-between;
        background: #222E58;
        align-items: stretch;
        padding: 1rem;

    }

    .contenedor_nav>nav>div>a {

        border: none;
        text-shadow: none;
        letter-spacing: 4px;
        color: whitesmoke;
    }

    .contenedor_nav a:hover {

        
        color: #EFAA0A;


    }

    .introduccion_1 {
        display: flex;
        gap: 2rem;
        align-items: flex-start;
        text-align: center;
        flex-wrap: wrap;

        padding: 1rem 0 1rem 0;

    }



    .introduccion_1>div>div>h2 {
        display: block;
        margin-top: 0;

    }


    .contenedor_parrafos>.imagen_movil_2>img,
    .contenedor_h2_imagen {
        display: flex;
    }

    .contenedor_h2_imagen {
        flex-direction: column;
        width: 100%;
    }

    .imagen_movil_2>img,
    .imagen_movil_3>img,
    .imagen_movil_4>img,
    .imagen_movil_5>img,
    .imagen_movil_6>img {

        display: flex;
        box-shadow: 2px 2px 4px #aca8a8;
        justify-content: space-between;
        width: 250px;
        padding: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;

    }

    .contenedor_parrafos,
    .contenedor_parrafos_2,
    .contenedor_parrafos_3,
    .contenedor_parrafos_4,
    .contenedor_parrafos_5 {

        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 2rem;
    }

    .contenedor_parrafos_2,
    .contenedor_parrafos_4 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        flex-wrap: nowrap;
        align-items: center;
        margin: 15px auto;
        background: #d8e5f4;
        margin-top: 0;


    }

    .parrafo_1 {

        display: flex;
        text-align: left;
        gap: 1rem;
    }

    h2 {
        text-align: start;
        padding-left: 2rem;
    }

    .contenedor_h2_izquierda>h2 {
        display: block;
        text-align: right;
        padding-right: 2rem;

    }

    .contenedor_personajes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 2rem;
        flex-direction: row-reverse;
        gap: 2rem;
    }

    .jeff_winger,
    .britta_perry,
    .annie_edison,
    .abed_nadir,
    .troy_barnes,
    .shirley_bennett,
    .pierce_hawthorne,
    .pierce_hawthorne_2 {
        box-shadow: 1px 1px 2px #aca8a8;
        margin-bottom: 4rem;

    }

    .contenedor_personajes>div>img {
        display: flex;
        width: 250px;

    }

    .contenedor_personajes>div>span,
    .contenedor_personajes>div>h3 {
        min-height: 100px;
        width: 250px;
        align-items: center;
        padding: 1.5rem;
        text-align: center;

    }

    .contenedor_personajes>div>.parrafo_1>p {
        width: 250px;


    }

    .contenedor_personajes>.jeff_winger>.parrafo_1>p,
    .contenedor_personajes>.britta_perry>.parrafo_1>p,
    .contenedor_personajes>.annie_edison>.parrafo_1>p,
    .contenedor_personajes>.pierce_hawthorne>.parrafo_1>p,
    .contenedor_personajes>.abed_nadir>.parrafo_1>p,
    .contenedor_personajes>.troy_barnes>.parrafo_1>p,
    .contenedor_personajes>.shirley_bennett>.parrafo_1>p,
    .contenedor_personajes>.pierce_hawthorne_2>.parrafo_1>p {

        min-height: 590px;

    }

    .contenedor_personajes>div>.parrafo_1>p {
        background: #5E90CB;
    }

    .contenedor_episodios>div>div>h3,
    .contenedor_episodios>div>div>span {

        width: 400px;
    }

    .contenedor_episodios {
        display: flex;
        flex-direction: column;

    }

    /* .contenedor_episodios>div>.parrafo_1>p {

        background: #69b65b12;


    } */

    .episodio_1,
    .episodio_2,
    .episodio_3,
    .episodio_4 {

        display: flex;
        width: 100%;
        border: 1px solid transparent;
        gap: 3rem;
        padding: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 4px #aca8a8;


    }

    .episodio_2,
    .episodio_4 {
        flex-direction: row-reverse;

    }

    .imagen_titulo>img {
        width: 400px 100%;
    }

    .contenedor_videos {
        width: 890px;
        display: flex;
        gap: 2.5rem;
        padding: 1rem;
        justify-content: center;
        flex-direction: row-reverse;
        margin: auto;



    }

    .contenedor_videos>iframe {
        width: 400px;



    }

    .videos_5>.parrafo_4>p {

        display: block;
        padding: 1rem 2rem 1rem 2rem;
        width: 890px;
        margin: auto;

    }

    .contenedor_contacto {
        display: flex;
        padding: 6rem;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
    }


.contenedor_contacto>.datos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 542.5px;
    max-height: max-content;


}

.mensaje {
    display: flex;
    flex-direction: column;
    width: 542.5px;
    height: 400px;
    
}

.mensaje>textarea {
    width: 100%;
    height: 240px;
}


.mensaje>div>input {
    width: 25%;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 20px

}

.contenedor_contacto>div>span,
.contenedor_contacto>div>img,
.videos_5>.parrafo_1>p {
    display: none;

}

.imagen_contacto_2 {
    display: flex;
    width: 25%;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 2rem;
    border: 1px solid transparent;
}

.contenedor_h2_izquierda>span {
    display: block;
    font-size: 1.5rem;
    font-weight: 200;
    text-shadow: 1px 1px 2px white;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #222E58;
}

.contenedor_footer {
    flex-direction: row;
}



}